<header>
    <nav>
        <a href="/">Homepage</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/login">Login</a>
    </nav>
</header>

<body>
    <h1>Dashboard</h1>
    <!-- Form for New Post -->
<form id="new-post-form" action="/new-post" method="POST">
    <input type="text" id="new-title" name="title" placeholder="Title" required>
    <textarea id="new-content" name="content" placeholder="Content" required></textarea>
    <button type="submit">Create Post</button>
</form>

<!-- Display User's Posts -->
<div id="user-posts">
    {{#each userPosts}}
        <article>
            <h3>{{this.title}}</h3>
            <p>{{this.content}}</p>
            <button class="edit-button" data-id="{{this.id}}">Edit</button>
            <button class="delete-button" data-id="{{this.id}}">Delete</button>
        </article>
    {{/each}}
</div>
<script src="/js/dashboard.js"></script>

</body>