
<body>
    <main>
        <h1>Welcome to basicBlog</h1>
        <div id="blog-posts">
            <h2>Blog Posts</h2>
            {{#each blogs}}
                <article>
                    <h3>{{this.title}}</h3>
                    <p>{{this.content}}</p>
                </article>
            {{/each}}
        </div>
    </main>  
</body>
