
<body>
    <header>
        <nav>
            <a href="/">Homepage</a>
            <a href="/dashboard">Dashboard</a>
            <a href="/login"></a>
        </nav>
    </header>
    <main>
        <h1>Welcome to Basic Blog</h1>
        <div id="blog-posts">

        </div>
    </main>
    
</body>
