
<header>
    <nav>
        <a href="/">Homepage</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/login">Login</a>
    </nav>
</header>
<body>
    <main>
        <h1>Welcome to basicBlog</h1>
        <div id="blog-posts">
            <h2>Blog Posts</h2>
            {{#each blogs}}
                <article>
                    <h3>{{this.title}}</h3>
                    <p>{{this.content}}</p>
                    <p>{{this.username}}</p>
                </article>
            {{/each}}
        </div>
    </main>  
</body>
